/* Navigation Bar */
.navigation {
  grid-area: B;
  display: flex;
  flex-direction: column;
}
.navigation__crate-button {
  flex-shrink: 0;
  color: var(--text-color);
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--elem-basic);
  border-radius: 15px;
  font-size: var(--basic-fsize);
  font-weight: 700;
  border: 1px solid var(--bttns-border);
  cursor: pointer;
}
.navigation__crate-button:hover {
  background: var(--elem-hover);
}

.navigation__crate-button:focus {
  outline: 0px solid #28343a;
  background: var(--elem-hover);
}

.navigation__find-block {
  flex-shrink: 0;
  height: 3rem;
  display: flex;
  align-items: center;
  background: var(--elem-basic);
  border-radius: 15px;
  padding-left: 15px;
  margin: 8px 0 0 0;
}
.navigation__find-icon {
  width: 15px;
  height: 15px;
}
.navigation__find-icon svg {
  fill: var(--text-color);
}

.navigation__find-input {
  font-family: 'DM Sans', sans-serif;
  background: var(--elem-basic);
  font-weight: 700;
  font-size: var(--mid-fsize);
  width: 150px;
  border: 0;
  margin-left: 10px;
  white-space: nowrap;
  overflow: auto;
  margin-left: 11px;
}
.navigation__find-input:focus {
  outline: 1px solid var(--text-color);
  border-radius: 2px;
}
.navigation__sort-bar {
  flex-shrink: 0;
  margin: 8px 0 0 0;
  height: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.navigation__sort-button {
  color: var(--text-dimmed);
  font-weight: 700;
  font-size: var(--small-fsize);
  border: 0;
  height: 2rem;
  background: var(--elem-basic);
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  align-items: center;
  cursor: pointer;
  border-radius: 15px 0 0 15px;
  border-right: 1px solid var(--bttns-border);
}
.navigation__sort-button:hover {
  background: var(--elem-hover);
}
.navigation__sort-button:focus {
  outline: 0px;
  background: var(--elem-hover);
}
.navigation__sort-button_onModal {
  border-radius: 15px 0 0 0;
  border-right: 1px solid var(--bttns-border);
  background: var(--elem-hover);
}

.navigation__view-button {
  border: 0;
  height: 2rem;
  background: var(--elem-basic);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 0 15px 15px 0;
}
.navigation__view-button:hover {
  background: var(--elem-hover);
}
.navigation__view-button:focus {
  outline: 0px;
  background: var(--elem-hover);
}

.navigation__sort-icon {
  width: 15px;
  height: 15px;
}
.navigation__sort-icon svg {
  fill: var(--text-color);
}

//MODAL STYLES
.navigation__sort-modal {
  position: absolute;
  top: 128px; //184px on find block
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0 0 0 0;
  font-size: (--small-fsize);
}
.sort-modal__item {
  background: var(--elem-hover);
  border: 0;
  width: 100px;
  height: 2rem;
  color: var(--text-color);
}
.sort-modal__item:hover {
  background: var(--elem-activ);
}
.sort-modal__item:focus {
  outline: 0px;
  background: var(--elem-activ);
}
.sort-modal__item_end {
  border-radius: 0 0 15px 15px;
}
