/* Note list Styles */
.navigation__note-list {
  margin: 8px 0 0 0;
  background: var(--elem-basic);
  border-radius: 15px;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: baseline;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
  padding-bottom: 10px;
  scrollbar-width: none;
}
.navigation__note-list::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.navigation__not-notes {
  margin: 10px;
  font-weight: 800;
  color: var(--text-dimmed);
}
.note-item {
  flex-shrink: 0;
  box-sizing: border-box;
  cursor: pointer;
  border: 0;
  text-align: left;
  width: 180px;
  height: 5rem;
  border-radius: 12px;
  margin: 10px 0 0 0;
  background: var(--note-basic);
  display: grid;
  grid-template-areas:
    'A'
    'B'
    'C';
}
.note-item:hover {
  background-color: var(--note-hover);
}
.note-item_select {
  background-color: var(--note-activ);
}
.note-item_small {
  height: 2rem;
}
.note-item_small > span {
  display: none;
}
.note-item_small > div {
  font-size: var(--mid-fsize);
  margin: 7px 10px 0 10px;
  font-weight: 600;
}

.note-item__header {
  color: var(--text-color);
  grid-area: A;
  font-size: var(--large-fsize);
  margin: 10px 10px 0 10px;
  font-weight: 600;
  line-height: 1rem;
}
.note-item__cut-content {
  color: var(--text-dimmed);
  grid-area: B;
  font-size: var(--mid-fsize);
  margin: 0 10px 0 10px;
}
.note-item__date {
  color: var(--text-dimmed);
  grid-area: C;
  font-size: var(--small-fsize);
  margin: 0 10px 0 10px;
}
