/* Heared styles */
.header {
  grid-area: A;
  display: flex;
}
.header__logo {
  height: 100%;
  width: 205px;
  display: flex;
  align-items: center;
}
.header__app-label {
  width: 20px;
  height: 20px;
  margin: 0 10px;
}
.header__logo svg {
  fill: #28343a;
}
.header__app-name {
  font-size: 24px;
  font-weight: 500;
}
.header__dd-block {
  display: flex;
  align-items: center;
}
.header__dd-button {
  color: #28343a;
  padding: 0 10px;
  border: 0;
  background: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.header__dd-button:hover {
  background: rgb(207, 207, 207);
}
.header__dd-button_select {
  background: rgb(207, 207, 207);
  color: #28343a;
  padding: 1rem 10px;
  border: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.header__dd-button:focus {
  outline: 0;
  background: rgb(207, 207, 207);
}
.header__modal-container {
  background: rgb(207, 207, 207);
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: left;
  top: 40px;
}
.header__dd-items {
  padding: 0.5rem 4rem 0.5rem 0.5rem;
  font-size: 14px;
  cursor: pointer;
}

.header__dd-items:hover {
  background: rgb(236, 236, 236);
}
