.wrapper {
  display: grid;
  height: 100vh;
  width: 1440px;
  grid-template-areas:
    'A A'
    'B C'
    'B C';
  grid-template-rows: 40px 1fr;
  grid-template-columns: 200px 1fr;
  gap: 3px;
}

/* Heared styles */
.header {
  grid-area: A;
  display: flex;
}
.header__logo {
  height: 100%;
  width: 205px;
  display: flex;
  align-items: center;
}
.header__app-label {
  width: 20px;
  height: 20px;
  margin: 0 10px;
}
.header__logo svg {
  fill: #28343a;
}
.header__app-name {
  font-size: 24px;
  font-weight: 500;
}
.header_dd-item {
  color: #28343a;
  padding: 0 10px;
  border: 0;
  background: #fff;
  line-height: 3rem;
  cursor: pointer;
}

/* Navigation Bar */
.navigation {
  grid-area: B;
  display: grid;
  grid-template-rows: 3rem 3rem 2rem 1fr;
  row-gap: 8px;
}
.navigation__crate-button {
  color: #28343a;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f4f5f6;
  border-radius: 15px;
  font-size: 16px;
  font-weight: 700;
  border: 1px solid #28343a;
  cursor: pointer;
}
.navigation__find-block {
  height: 3rem;
  display: flex;
  align-items: center;
  background: #f4f5f6;
  border-radius: 15px;
  padding-left: 15px;
}
.navigation__find-icon {
  width: 15px;
  height: 15px;
}
.navigation__find-input {
  font-family: 'DM Sans', sans-serif;
  background: #f4f5f6;
  font-weight: 700;
  font-size: 14px;
  width: 150px;
  border: 0;
  margin-left: 10px;
  white-space: nowrap;
  overflow: auto;
  margin-left: 11px;
}
.navigation__find-input:focus {
  outline: 1px solid #28343a;
  border-radius: 2px;
}
.navigation__fiter-bar {
  height: 2rem;
  background: #f6f6f6;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.navigation__fiter-icon {
  width: 15px;
  height: 15px;
}
.navigation__fiter-icon svg {
  fill: #28343a;
}

/* Note list Styles */
.navigation__note-list {
  background: #f4f5f6;
  border-radius: 15px;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: baseline;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
  padding-bottom: 10px;
  scrollbar-width: none;
}
.navigation__note-list::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.note-item {
  flex-shrink: 0;
  box-sizing: border-box;
  cursor: pointer;
  border: 0;
  text-align: left;
  width: 180px;
  height: 5rem;
  border-radius: 12px;
  margin: 10px 0 0 0;
  background: white;
  display: grid;
  grid-template-areas:
    'A'
    'B'
    'C';
}

.note-item:hover {
  background-color: rgb(255, 214, 163);
}
.note-item_select {
  background-color: bisque;
}
.note-item__header {
  grid-area: A;
  font-size: 18px;
  margin: 10px 10px 0 10px;
  font-weight: 600;
  line-height: 1rem;
}
.note-item__cut-content {
  color: #28343a;
  grid-area: B;
  font-size: 14px;
  margin: 0 10px 0 10px;
}
.note-item__date {
  color: #707070;
  grid-area: C;
  font-size: 11px;
  margin: 0 10px 0 10px;
}

/* Content Styles */
.content {
  grid-area: C;
  display: grid;
  grid-template-rows: 3rem 1fr;
  gap: 3px;
}
.content__note-header {
  height: 3rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 6rem;
}
.content__header-input {
  font-size: 1.5rem;
  font-weight: 600;
  width: 100%;
  line-height: 3rem;
  padding-left: 10px;
  border: 0;
  white-space: nowrap;
  overflow: auto;
  border-radius: 15px;
}
.content__header-input_noteEdit {
  background-color: bisque;
  border-radius: 15px 0 0 15px;
}
.content__header-input:focus {
  outline: 1px solid #28343a;
  border-radius: 15px;
  width: calc(100% - 1px);
}
.content__header-input_noteEdit:focus {
  outline: 1px solid #28343a;
  border-radius: 15px 0 0 15px;
  width: calc(100% - 1px);
}

.selected-bar {
  display: none;
}
.selected-bar__close-button {
  height: 3rem;
  width: 3rem;
  border-radius: 0 15px 15px 0;
  border: 0;
  background-color: #f4f5f6;
  cursor: pointer;
}
.selected-bar__bar-button {
  height: 3rem;
  width: 3rem;
  border: 0;
  background-color: #f4f5f6;
  cursor: pointer;
}
.content__note-content {
  background: #f4f5f6;
  border-radius: 15px;
  display: grid;
  grid-template-rows: 1fr 2rem;
}
.content__note-area {
  background: #f4f5f6;
  border: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  padding: 10px 12px;
}
.content__note-area:focus {
  outline: 1px solid #28343a;
  border-radius: 15px 15px 0 0;
}
.content__note-info {
  background-color: #a8a8a8;
  height: 2rem;
  border-radius: 0 0 15px 15px;
  display: flex;
  align-items: center;
  padding: 0 0 0 5px;
  font-size: 12px;
  font-weight: 600;
}

/* Media */
@media (max-width: 1440px) {
  .wrapper {
    width: 100vw;
  }
}
