.wrapper {
  display: grid;

  height: 100vh;
  width: 1440px;
  grid-template-areas:
    'A A'
    'B C'
    'B C';
  grid-template-rows: 40px 1fr;
  grid-template-columns: 200px 1fr;
  gap: 3px;
}

/* Heared styles */
.mainHeader {
  grid-area: A;
  display: flex;
}
.headerName {
  height: 100%;
  width: 205px;
  display: flex;
  align-items: center;
}
.menuSelector {
  width: 20px;
  height: 20px;
  margin: 0 10px;
}
.menuSelector svg {
  fill: #28343a;
}
.appName {
  font-size: 24px;
  font-weight: 500;
}
.headerMenuBlock {
  color: #28343a;
  padding: 0 10px;
  border: 0;
  background: #fff;
  line-height: 3rem;
  cursor: pointer;
}

/* Navigation Bar */
.mainNav {
  grid-area: B;
  display: grid;
  grid-template-rows: 3rem 3rem 2rem 1fr;
  row-gap: 8px;
}
.createNote {
  color: #28343a;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f4f5f6;
  border-radius: 15px;
  font-size: 14px;
  font-weight: 700;
  border: 1px solid #28343a;
  cursor: pointer;
}
.findNav {
  height: 3rem;
  display: flex;
  align-items: center;
  background: #f4f5f6;
  border-radius: 15px;
  padding-left: 15px;
}
.findNavInput {
  font-family: 'DM Sans', sans-serif;
  background: #f4f5f6;
  font-weight: 700;
  font-size: 14px;
  width: 150px;
  border: 0;
  margin-left: 10px;
  white-space: nowrap;
  overflow: auto;
  margin-left: 11px;
}
.findNavInput:focus {
  outline: 1px solid #28343a;
  border-radius: 2px;
}
.fiterNav {
  height: 2rem;
  background: #f6f6f6;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.filterIcon {
  width: 15px;
  height: 15px;
}
.filterIcon svg {
  fill: #28343a;
}

/* Note list Styles */
.noteList {
  background: #f4f5f6;
  border-radius: 15px;
  display: flex;
  justify-content: baseline;
  align-items: center;
  flex-direction: column;
}
.noteItem {
  box-sizing: border-box;
  cursor: pointer;
  border: 0;
  text-align: left;
  width: 180px;
  height: 5rem;
  border-radius: 12px;
  margin: 10px 0 0 0;
  background: white;
  display: grid;
  grid-template-areas:
    'A'
    'B';
  grid-template-rows: 30px 1fr;
  grid-template-columns: 1fr 30px;
}
.noteItem:hover {
  background-color: bisque;
}
.noteItemHeader {
  grid-area: A;
  font-size: 18px;
  margin: 10px 0 0 10px;
  font-weight: 600;
}
.noteItemCutContent {
  grid-area: B;
  font-size: 12px;
  margin: 10px 10px 0 10px;
}

/* Content Styles */
.mainContent {
  grid-area: C;
  display: grid;
  grid-template-rows: 3rem 1fr;
  gap: 3px;
}
.noteHeader {
  height: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
}
.noteHeaderInput {
  font-size: 1.9rem;
  font-weight: 500;
  width: 100%;
  line-height: 2.8rem;
  padding-left: 10px;
  border: 0;
  white-space: nowrap;
  overflow: auto;
}
.noteHeaderInput:focus {
  outline: 1px solid #28343a;
  border-radius: 15px;
}
.noteContent {
  background: #f4f5f6;
  border-radius: 15px;
  display: grid;
  grid-template-rows: 1fr 2rem;
}
.noteContentArea {
  background: #f4f5f6;
  border: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  padding: 5px;
}
.noteContentArea:focus {
  outline: 1px solid #28343a;
  border-radius: 15px 15px 0 0;
}
.noteInfo {
  background-color: #a8a8a8;
  height: 2rem;
  border-radius: 0 0 15px 15px;
  display: flex;
  align-items: center;
  padding: 0 0 0 5px;
  font-size: 12px;
  font-weight: 600;
}

/* Media */
@media (max-width: 1440px) {
  .wrapper {
    width: 100vw;
  }
}
